
html {
    background-image: url('./images/UkeBackground.jpg');
    background-size: cover;

}

body {
    text-align: center;
}

#keyboard {
    
  display: inline-block;
  margin-top:300px;
   
}

.parent {
    padding:5px;
    flex-direction: row;
    flex-wrap: nowrap;
    display: flex;
    justify-content: space-evenly;
    color:white;
}

.child {
    display: block;
    width:80px;
    height:80px;
    background-color: rgb(48, 33, 48);
    border-radius: 10%;
    font-size: 30px;
    border-style: solid;
    border-width:2px;
}

#rowOne {
    width:900px;
}

#rowTwo {
    margin-left: 35px;
    width: 830px;
}

#rowThree {
    margin-left: 80px;
    width: 735px;
}

.chord {
    margin-top: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
}